.day {
    padding: 4px;
    width: 132px;
    height: 88px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: var(--white);
    border: 1px solid var(--gray-100);
    border-radius: var(--border-radius-8);
}
