.form {
    &__valueGroup {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__formGroup_small {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}
