%button {
    background-color: unset;
    border-width: 0px;
    transition: var(--transition-regular);
    cursor: pointer;

    &:hover {
        &:active:not(:disabled) {
            opacity: 0.7;
            transform: scale(0.97);
        }
    }
}

%icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %button;
}
