@use '@/app/_vars.scss' as *;
@use '@/app/_templates.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    font-family: var(--font-golos-text);
    font-size: 14px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    border: unset;
}

p,
span {
    cursor: default;
}

button {
    @extend %button;
}
