.selector {
    padding: 0 10px;
    min-height: 32px;
    max-height: 32px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: var(--border-radius-8);
    color: inherit;
    font-size: var(--font-size-16);
    user-select: none;
    cursor: pointer;

    &[data-placeholder] {
        color: var(--gray-500);
    }

    svg {
        --icon-size: var(--icon-size-12);
        --icon-background: var(--gray-800);
    }
}
