.button {
    padding: 0 12px;
    min-height: 24px;
    max-height: 24px;
    border-radius: var(--border-radius-100);
    color: var(--blue-700);
    font-size: var(--font-size-14);

    &:hover:not(:disabled) {
        background: var(--blue-50);
    }
}
